{
  "env": {
    "CLAUDE_AUTOCOMPACT_PCT_OVERRIDE": "60",
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1",
    "CLAUDE_CODE_USE_VERTEX": "1",
    "CLAUDE_ML_REGION": "global",
    "ANTHROPIC_VERTEX_PROJECT_ID": "<YOUR_PROJECT_ID>",
    "VERTEX_REGION_CLAUDE_4_6_OPUS": "global",
    "VERTEX_REGION_CLAUDE_4_6_SONNET": "global",
    "ANTHROPIC_MODEL": "claude-opus-4-6",
    "ANTHROPIC_SMALL_FAST_MODEL": "claude-sonnet-4-6",
    "DISABLE_PROMPT_CACHING": "1"
  },
  "enabledPlugins": {
    "frontend-design@claude-plugins-official": true,
    "context7@claude-plugins-official": true,
    "playwright@claude-plugins-official": true,
    "skill-creator@claude-plugins-official": true,
    "superpowers@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true
  },
  "alwaysThinkingEnabled": true,
  "effortLevel": "medium"
}
