[user]
    name = Isaque Diniz
    email = itd@cin.ufpe.br
    signingkey = /home/isaque/.ssh/id_ed25519.pub
[init]
    defaultBranch = main
[core]
    editor = code --wait
[github]
    user = isaquetdiniz
[commit]
    gpgsign = true
[gpg]
    format = ssh
[alias]
    s = status -s
    a = add .
    c = !git add . && git commit -m
    amend = !git add . && git commit --amend --no-edit
    l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s %C(cyan)[%cn] %C(green)%cr'
