[include]
    path = ~/.gitconfig-local
[init]
    defaultBranch = main
[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global
[github]
    user = isaquetdiniz
[commit]
    gpgsign = true
[gpg]
    format = ssh
[pull]
    rebase = true
[merge]
    conflictstyle = zdiff3
[alias]
    s = status -s
    a = add .
    c = !git add . && git commit -m
    amend = !git add . && git commit --amend --no-edit
    l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s %C(cyan)[%cn] %C(green)%cr'
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    undo = reset HEAD~1
